@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #24272a;
  --text-color: #ffffff;
  --primary-color: #ff9d12;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --text-color: #24272a;
    --primary-color: #ff9d12;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
